*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/sample.zip
/.kotlin/errors/errors-1772375493178.log
/gotalknow_extracted/
/app/release/app-release.aab
/app/build_output.txt
/build_output.txt
